<footer id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;{{ CURRENT_YEAR }}&nbsp;
        <a href="/" target="blank">{{ SITE_NAME }}</a>
    </div>
    <div class="site-info" style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
        <a href="https://github.com/linxiaohui/NONB.git">项目代码</a>
        参考
        <a href="https://www.lylinux.net/">DajngoBlog</a>
    </div>

    <div class="site-info" style="text-align: center">
        <a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">
            <p style=" height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                京ICP备2020037465号-1
            </p>
        </a>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102004381" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
       <img src="/static/assets/img/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010102004381号</p></a>
    </div>

</footer>


